/* check advice on stackoverflow and paletton */

body {
    color: rgb(92, 105, 115);   
    font-size: 20px;              
    font-family: Abel, monospace;           
}

body#index  {
    background-image:    url(asset/startcoolgrey.jpg);
/*    background-size:     cover; */                     
    background-repeat:   no-repeat;          
}

.slogan {
  background-color: black;
  text-align: center;
  color: white;   
  font-size: 20px;
  padding: 1em; 
  margin: 0 auto;
}

#theslogan {
  margin: 0px;

}

a {
  color: rgb(19, 50, 83);
}

a:hover {
  font-weight: bold;
}


h1, footer {
  letter-spacing: .05em;
}

footer {
  background-color: rgb(115, 140, 166);
  padding: 1em;
  font-size: .8em;
  text-align: center;
}

   .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  nav {
  padding: 1em; 
}



.menu-item {
    font-size: 30px;
    color : white;
    background-color: silver;
    padding: 20px;
    margin: 10px;
  }

  .box {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    text-align: center;
  }


.cta-holder{ 
    width: 150px; /* div size */
    margin: 0 auto; /* div centered */
}

#cta {
    width: 100%; /* button size equals div size */
}
    